<% @item ||= Item.first %>

<!-- BEGIN fast view of a product -->
<div id="product-pop-up" style="width: 700px;">
        <div class="product-page product-pop-up">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-3">
              <div class="product-main-image">
                <img src="<%= "/items/#{@item.bar_code}/1.jpg" %>" alt="Cool green dress with red bell" class="img-responsive">
              </div>
              <div class="product-other-images">
                <a href="#" class="active"><img alt="Berry Lace Dress" src="<%= "/items/#{@item.bar_code}/1.jpg" %>"></a>
                <% if false %>
                <a href="#"><img alt="Berry Lace Dress" src="../../assets/frontend/pages/img/products/model4.jpg"></a>
                <a href="#"><img alt="Berry Lace Dress" src="../../assets/frontend/pages/img/products/model5.jpg"></a>
                <% end %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-9">
              <h2><%= "#{@item.name}-#{@item.units}" %></h2>
              <div class="price-availability-block clearfix">
                <div class="price">
                  <strong><span>¥</span><%= @item.price %></strong>
                  <em>¥<span><%= @item.in_price %></span></em>
                </div>
                <% if false %>
                <div class="availability">
                  Availability: <strong>In Stock</strong>
                </div>
                <% end %>
              </div>
              <div class="description">
                <p style="font-size: 22px;"><%= @item.desc %></p>

                      <% if false %>
                      <table class="datasheet">
                        <tr>
                          <!-- <th colspan="2">Additional features</th> -->
                        </tr>
                        <tr>
                          <td class="datasheet-features-type">计量单位</td>
                          <td><%= @item.units %></td>
                        </tr>
                      </table>
                      <% end %>

              </div>
              <% if false %>
              <div class="product-page-options">
                <div class="pull-left">
                  <label class="control-label">Size:</label>
                  <select class="form-control input-sm">
                    <option>L</option>
                    <option>M</option>
                    <option>XL</option>
                  </select>
                </div>
                <div class="pull-left">
                  <label class="control-label">Color:</label>
                  <select class="form-control input-sm">
                    <option>Red</option>
                    <option>Blue</option>
                    <option>Black</option>
                  </select>
                </div>
              </div>
              <% end %>
                <% if is_in_cart?(@item) %>
                  <div class="product-page-cart" style="margin-top: 140px;">
                    <span>您已加入购物车！</span>
                  </div>

                <% else %>
                  <div class="product-page-cart" style="margin-top: 140px;">
                    <div class="product-quantity">
                        <input id="product-quantity" type="text" value="1" readonly name="product-quantity" class="form-control input-sm">
                    </div>
                    <button class="btn btn-primary add2cart" type="submit" item-id="<%= @item.id.to_s %>">添加到购物车</button>
                  </div>
                <% end %>
            </div>

            <div class="sticker sticker-sale"></div>


                <div class="product-page-content">
                  <% if false %>
                  <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#Description" data-toggle="tab">商品信息</a></li>
                    <li><a href="#Information" data-toggle="tab">规格参数</a></li>
                  </ul>
                  <% end %>
                  <hr/>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="Description">
                    <% (Dir.entries("public/items/#{@item.bar_code}").count - 3).times do |index| %>
                      <p>
                        <img src="<%= "/items/#{@item.bar_code}/#{index+2}.jpg" %>" class="img-responsive">
                      </p>
                    <% end %>
                    <p>
                      注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！
                    </p>
                    <% if false %>
                    <div class="tab-pane fade" id="Information">
                      <table class="datasheet">
                        <tr>
                          <!-- <th colspan="2">Additional features</th> -->
                        </tr>
                        <tr>
                          <td class="datasheet-features-type">计量单位</td>
                          <td><%= @item.units %></td>
                        </tr>
                        <tr>
                          <td class="datasheet-features-type">生产日期</td>
                          <td>700 gr.</td>
                        </tr>
                        <tr>
                          <td class="datasheet-features-type">保质日期</td>
                          <td>10 person</td>
                        </tr>
                      </table>
                    </div>
                    <% end %>
                    <% if false %>
                    <div class="tab-pane fade in active" id="Reviews">
                      <!--<p>There are no reviews for this product.</p>-->
                      <div class="review-item clearfix">
                        <div class="review-item-submitted">
                          <strong>Bob</strong>
                          <em>30/12/2013 - 07:37</em>
                          <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>                                              
                        <div class="review-item-content">
                            <p>Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
                        </div>
                      </div>
                      <div class="review-item clearfix">
                        <div class="review-item-submitted">
                          <strong>Mary</strong>
                          <em>13/12/2013 - 17:49</em>
                          <div class="rateit" data-rateit-value="2.5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>                                              
                        <div class="review-item-content">
                            <p>Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
                        </div>
                      </div>

                      <!-- BEGIN FORM-->
                      <form action="#" class="reviews-form" role="form">
                        <h2>Write a review</h2>
                        <div class="form-group">
                          <label for="name">Name <span class="require">*</span></label>
                          <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                          <label for="review">Review <span class="require">*</span></label>
                          <textarea class="form-control" rows="8" id="review"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="email">Rating</label>
                          <input type="range" value="4" step="0.25" id="backing5">
                          <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                          </div>
                        </div>
                        <div class="padding-top-20">                  
                          <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                      </form>
                      <!-- END FORM--> 
                    </div>
                    <% end %>
                  </div>
                </div>


          </div>
        </div>
</div>
<!-- END fast view of a product -->