<%
  @carts ||= {}
  @total_price ||= 0
%>

<!-- BEGIN CART -->
<div class="top-cart-block">
  <div class="top-cart-info">
    <a href="javascript:void(0);" class="top-cart-info-count"><%= @carts.keys.size %> 个商品</a>
    <a href="javascript:void(0);" class="top-cart-info-value">¥<%= @total_price %></a>
  </div>
  <i class="fa fa-shopping-cart"></i>
                
  <div class="top-cart-content-wrapper">
    <div class="top-cart-content">
      <ul class="scroller" style="height: <%= @carts.keys.count * 50 %>px;">
        <% @carts.keys.each do |key| %>
          <% item = @carts[key] %>
          <% _item = Item.find(key) %>
        <li>
          <a href="shop-item.html"><img src="<%= "/items/#{_item.bar_code}/1.jpg" %>" alt="Rolex Classic Watch" width="37" height="34"></a>
          <span class="cart-content-count">x <%= item['count'] %></span>
          <strong><a href="shop-item.html"><%= item['name'] %></a></strong>
          <em>¥<%= item['price'] %></em>
          <a href="javascript:void(0);" class="del-goods" item-id="<%= key %>">&nbsp;</a>
        </li>
        <% end %>
      </ul>
      <% unless @carts.empty? %>
      <div class="text-right">
        <a href="/carts" class="btn btn-default">查看购物车</a>
        <a href="/orders/checkout_view" class="btn btn-primary">结算</a>
      </div>
      <% end %>
    </div>
  </div>            
</div>
<!--END CART -->
