
<%= flash[:notice] if flash[:notice] %>

<ul>
  <% Category.where(level: 1).each do |top_category| %>
    <ul>
      <div>
        <p><%= top_category.name %></p>
        <ul>
          <% top_category.children.each do |category| %>
            <li><%= link_to category.name, admin_items_path(category_id: category) %></li>
          <% end %>
        </ul>
      </div>
    </ul>
  <% end %>
</ul>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>编号</th>
      <th>条码编号</th>
      <th>商品名</th>
      <th>定价</th>
      <th>进价</th>
      <th>是否上架</th>
      <th>是否新品</th>
      <th>是否特价</th>
      <th>仓库余量</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each_with_index do |item, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= item.bar_code %></td>
      <td><%= "#{item.name}-#{item.units}" %></td>
      <td><%= item.price %></td>
      <td><%= item.in_price %></td>
      <td><%= item.on_shelf ? '是' : '否' %></td>
      <td><%= item.new_arrivals ? '是' : '否' %></td>
      <td><%= item.on_sale ? '是' : '否' %></td>
      <td><%= item.repo_count %></td>
      <td>
        <%= link_to '编辑', edit_admin_item_path(item) %>
        <%= link_to '删除', admin_item_path(item), method: :delete, data: { confirm: "你确定要删除这件商品吗?" } %>

        <%= link_to '向上移动', move_up_admin_item_path(item, category_id: params[:category_id]) %>
        <%= link_to '向下移动', move_down_admin_item_path(item, category_id: params[:category_id]) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to '新增商品', new_admin_item_path %>