<h1>创建商品</h1>

<%= form_for(['admin', @item]) do |f| %>
商品条形码：<%= f.text_field :bar_code, :placeholder => "请输入商品条形码" %><br/>
商品名称：<%= f.text_field :name, :placeholder => "请输入商品名称" %><br/>
商品品牌：<%= f.text_field :brand, :placeholder => "请输入商品品牌" %><br/>
商品类别：
<select name="item[category_id]">
<% Category.where(level: 1).each do |top_category| %>
	<optgroup label="<%= top_category.name %>">
		<% top_category.children.each do |category| %>
		  <option value="<%= category.id %>"><%= category.name %></option>
	  <% end %>
	</optgroup>
<% end %>
</select>
<%#= f.select :category_id, Category.all.collect { |p| [ p.name, p.id ] } %><br/>
计量单位：<%= f.text_field :units, :placeholder => "请输入计量单位" %><br/>
生产日期：<%= f.date_field :produced_at %><br/>
保质日期：<%= f.date_field :expiration_at %><br/>
商品进价：<%= f.text_field :in_price, :placeholder => "请输入商品定价" %><br/>
商品定价：<%= f.text_field :price, :placeholder => "请输入商品定价" %><br/>
货架地址：<%= f.text_field :shelf_no, :placeholder => "请输入货架地址" %><br/>
仓库存量：<%= f.text_field :repo_count, :placeholder => "请输入仓库存量" %><br/>

是否上架：
<select name="item[on_shelf]">
	<option value="true" <%= "selected='selected'" if @item.on_shelf %>>是</option>
	<option value="false" <%= "selected='selected'" if !@item.on_shelf %>>否</option>
</select>


是否热销商品：
<select name="item[hot]">
	<option value="true" <%= "selected='selected'" if @item.hot %>>是</option>
	<option value="false" <%= "selected='selected'" if !@item.hot %>>否</option>
</select>
<br/>
是否特价商品：
<select name="item[on_sale]">
	<option value="true" <%= "selected='selected'" if @item.on_sale %>>是</option>
	<option value="false" <%= "selected='selected'" if !@item.on_sale %>>否</option>
</select>
<br/>
是否新品上市：
<select name="item[new_arrivals]">
	<option value="true" <%= "selected='selected'" if @item.new_arrivals %>>是</option>
	<option value="false" <%= "selected='selected'" if !@item.new_arrivals %>>否</option>
</select>

商品描述：<%= f.text_area :desc, :placeholder => "请输入描述" %><br/>

<%= f.submit('创建商品') %>

<% end %>