
<%= flash[:notice] if flash[:notice] %>

<%
  start_date = params[:start_date]
  end_date = params[:end_date]
%>

<%= start_date %> --- <%= end_date %>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>编号</th>
      <th>游戏名</th>
      <th>上架时间</th>
      <th>广告Id</th>
      <th>平台</th>
      <th>登录数</th>
      <th>激活数</th>
      <th>点击数</th>
      <th>下载数</th>
      <th>注册数</th>
      <th>充值金额</th>
    </tr>
  </thead>
  <tbody>
  <%= @games.each_with_index do |game, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= game.name %></td>
      <td><%= game.sale_at %></td>
      <td><%= game.adId %></td>
      <td><%= game.platform_name %></td>
      <td><%= game.operate_count(AccessDetail::TYPE_LOGIN, 'all', start_date, end_date) %></td>
      <td><%= game.operate_count(AccessDetail::TYPE_ACTIVATE, 'all', start_date, end_date) %></td>
      <td><%= game.operate_count(AccessDetail::TYPE_CLICK, 'all', start_date, end_date) %></td>
      <td><%= game.operate_count(AccessDetail::TYPE_DOWNLOAD, 'all', start_date, end_date) %></td>
      <td><%= game.operate_count(AccessDetail::TYPE_REGEISTER, 'all', start_date, end_date) %></td>
      <td><%= game.payment_amount('all', start_date, end_date) %></td>

    </tr>
  <% end %>
  </tbody>
</table>