
<%= flash[:notice] if flash[:notice] %>
<br/>
<ul>
  <li>
    <%= link_to '新订单', new_index_admin_orders_path %>
  </li>

  <li>
    <%= link_to '待发货订单', wait_send_index_admin_orders_path %>
  </li>


  <li>
    <%= link_to '待回执订单', wait_done_index_admin_orders_path %>
  </li>


  <li>
    <%= link_to '已完成订单', done_index_admin_orders_path %>
  </li>

</ul>

新订单
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>订单编号</th>
      <th>收货人称呼</th>
      <th>收货地址</th>
      <th>收货电话</th>
      <th>商品金额</th>
      <th>派送费</th>
      <th>总金额</th>
      <th>下单时间</th>
      <th>订单备注</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  <% @new_orders = Order.where(status: 1) %>
  <% @new_orders.each_with_index do |order, index| %>
    <tr>
      <td><%= order.no %></td>
      <td><%= order.name %></td>
      <td><%= order.address %></td>
      <td><%= order.telphone %></td>
      <td><%= order.items_total_price %></td>
      <td><%= order.shipping_price %></td>
      <td><%= order.total_price %></td>
      <td><%= order.created_at.strftime('%Y-%m-%d') %></td>
      <td><%= order.remark %></td>
      <td>
        <%= form_tag(sent_admin_order_path(order)) do |f| %>
          <%= submit_tag "发货", data: { confirm: "确定商品都挑选完整，可以发货？" } %>
        <% end %>
        <%= link_to '订单详情', admin_order_path(order) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% Order.where(status: 1).update_all(status: 2) %>
