<style media="print">
  body {
    margin: 0px;
    width: 360px;
  }
  h1 {
    font-size: 10px;
  }
</style>
<h1>订单详情</h1>
<p>订单编号: <span><%= @order.no %></span></p>
<p>下单时间: <span><%= @order.created_at %></span></p>
<p>收货人称呼: <span><%= @order.name %></span></p>
<p>收货地址: <span><%= @order.address %></span></p>
<p>收货电话: <span><%= @order.telphone %></span></p>
<p>商品金额: <span><%= @order.items_total_price %></span></p>
<p>派送费: <span><%= @order.shipping_price %></span></p>
<p>总金额: <span><%= @order.total_price %></span></p>
<p>送货时间: <span><%= Time.now %></span></p>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>编号</th>
      <th>商品名称</th>
      <th>商品规格</th>
      <th>商品单价</th>
      <th>商品数量</th>
      <th>商品总价</th>
    </tr>
  </thead>
  <tbody>
  <% @order.items.each_with_index do |item, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= item[:name] %></td>
      <td><%#= item.address %></td>
      <td><%= item[:price] %></td>
      <td><%= item[:count] %></td>
      <td><%= item[:item_price] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<hr/>
<br/>
<p>订单编号: <span><%= @order.no %></span></p>
<p>下单时间: <span><%= @order.created_at %></span></p>
<p>收货人称呼: <span><%= @order.name %></span></p>
<p>收货地址: <span><%= @order.address %></span></p>
<p>收货电话: <span><%= @order.telphone %></span></p>
<p>商品金额: <span><%= @order.items_total_price %></span></p>
<p>派送费: <span><%= @order.shipping_price %></span></p>
<p>总金额: <span><%= @order.total_price %></span></p>
<br/>
<br/>
客户签名：
<br/>
<br/>
<p>送货时间: <span><%= Time.now %></span></p>

