<%= flash[:notice] if flash[:notice] %>

<div id="main-ad-container">
  <p>这是广告</p>
</div>

<div id="main-item-list-container">
  <ul>
    <% @items.each_with_index do |item, index| %>
      <li>
        <div>
          <%= image_tag('item.png', width: 120, height: 120) %>
          <%= item.name %>
          <%= item.units %>
          <%= item.price %>

        <%= form_tag(add_cut_item_path(item)) do |f| %>
          <input type="submit" value="加入购物车"></input>
        <% end %>

        <a href="javascript: void();" onclick="add_to_cart('<%= item.id %>');">加入购物车</a>

        </div>
      </li>
    <% end %>
  </ul>
</div>
<% if false %>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>编号</th>
      <th>商品名</th>
      <th>厂家</th>
      <th>定价</th>
      <th>仓库余量</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  <%= @items.each_with_index do |item, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= item.name %></td>
      <td><%= item.brand %></td>
      <td><%= item.price %></td>
      <td><%= item.repo_count %></td>
      <td>
        <%= form_tag(add_cut_item_path(item)) do |f| %>
          <label>数量</label>
          <input type="text" name="count"></input>
          <input type="hidden" name="price" value="<%= item.price %>"></input>
          <input type="submit" value="加入购物车"></input>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<hr/>
<% end %>