<!DOCTYPE html>
<html>
<head>
  <title>果壳里的店</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">网站首页</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <%= link_to '热销商品', items_path %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
<br/>
<br/>
<br/>

<div id="category-list">
  <p>分类列表</p>
  <ul>
    <% Category.where(level: 1).each do |top_category| %>
      <li>
        <div>
        <p><%= top_category.name %></p>
        <ul>
          <% top_category.children.each do |category| %>
            <li><%= link_to category.name, items_path(category_id: category) %></li>
          <% end %>
        </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div id="shopping-cart">
  <p>购物车(<%= session[:cut].size %> 件商品)</p>
<%= link_to '清空购物车', clear_cut_items_path, method: :delete, data: { confirm: "你确定要清空购物车么?" } %>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>
        商品名
      </th>
      <th>
        单价
      </th>
      <th>
        数量
      </th>
      <th>
        总价
      </th>
    </tr>
  </thead>
  <tbody id="shopping-carts-body">
    <% total_price = 0 %>
    <%# session[:cut] = [] %>
    <% session[:cut].each do |item| %>
      <tr>
        <td><%= Item.find(item['item_id']).name %></td>
        <td><%= item['price'] %></td>
        <td><%= item['count'] %></td>
        <td><%= item_price = item['count'].to_i * item['price'].to_f %></td>
        <% total_price += item_price %>
      </tr>
    <% end %>
    <tr>
      总计：<%= total_price %>
    </tr>
  </tbody>
</table>
<%= form_tag(orders_path) do |f| %>
  <label>门牌号:</label>
  <input type="text" name="address"></input>
  <label>联系电话:</label>
  <input type="text" name="telphone"></input>
  <input type="hidden" name="total_price" value="<%= total_price %>"></input>
  <input type="submit" value="提交订单"></input>
<% end %>


</div>

<div id="main-container" data-pjax-container>
<%= yield %>
</div>



<script type="text/javascript">
  function refresh_cart(){
    var url = '<%= carts_path %>';
    $.get(url, function(data){
      for(var i = 0; i< data.size; i++){
        var item = data[i];
        var content = "<tr><td>"+item.name+"</td><td>"+item.price+"</td></tr>"
        $('#shopping-carts-body').append(content);
      }
    });
  }

  function add_to_cart(item_id){
  }
</script>

</body>
</html>
